.mainCenterBlock {
    width: 100px;
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    padding: 20px 40px 20px 111px;
    height: 100vh;
  }
  
  .centerBlockH2 {
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 72px;
    letter-spacing: -0.8px;
    margin-bottom: 12px;
  }
    
  .centerBlockContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .playlistTitleCol {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
  }