.barVolume {
  width: auto;
  display: flex;
  align-items: center;
  padding-right: 92px;
}

.volumeContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.volumeImage {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volumeSvg {
  width: 13px;
  height: 18px;
  fill: transparent;
}

.volumeProgress {
  width: 109px;
}

.volumeProgressLine {
  width: 109px;
  height: 8px;
  background-color: #797979;
  border-radius: 4px;
  position: relative;
}

.volumeProgressLine input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.volumeProgressLine input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1A1A1A;
  border: 2px solid #1A1A1A;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.volumeProgressLine input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1A1A1A;
  border: 2px solid #1A1A1A;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
