.barVolume {
  width: auto;
  display: flex;
  align-items: center;
  padding-right: 92px;
}

.volumeContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.volumeImage {
  width: 13px;
  height: 18px;
  margin-right: 17px;
}

.volumeSvg {
  width: 13px;
  height: 18px;
  fill: transparent;
}

.volumeProgress {
  width: 109px;
  display: flex;
}

.volumeProgressLine {
  --progress-height: 4px;
  --progress-color: #FFF;
  --progress-bg-color: #797979;

  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

.volumeProgressLine::-webkit-slider-runnable-track {
  height: var(--progress-height);
  background: var(--progress-bg-color);
}

.volumeProgressLine::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  background-color: var(--progress-color);
  margin-top: -4px;
}

.volumeProgressLine::-moz-range-track {
  background: var(--progress-bg-color);
  height: var(--progress-height);
}

.volumeProgressLine::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border: none;
  background: var(--progress-color);
}
