.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: rgb(24, 24, 24);
}

.containerNf{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    width: 431px;
    height: 366px;
}

.containerH1{
    color: rgb(255, 255, 255);
font-size: 160px;
font-weight: 400;
line-height: 168px;
letter-spacing: 0px;
text-align: left;
}

.containerH3{
    color: rgb(255, 255, 255);
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}
.containerLink {
    border-radius: 6px;

width: 278px;
height: 52px;


background: rgb(88, 14, 162);

}
.containerLink:hover{
    border: 1px solid #fff;
}
.containerP{
    color: rgb(78, 78, 78);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3%;
  text-align: center;
 
  width: 431px;
  height: 48px;

  }

.containerLinkP {
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.3%;
text-align: center;
padding: 12px 46px 16px 44px;
}

.containerSvg {
    position: absolute;
width: 52px;
height: 52px;
}