/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/FormWrapper/FormWrapper.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.FormWrapper_wrapper__jC0vN {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
  
  .FormWrapper_containerSignup__W_A0c {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0.85);
  }
  
  .FormWrapper_modalBtnSignupEnt__IBffb:hover {
    background-color: #3F007D;
  }
  
  .FormWrapper_modalBtnSignupEnt__IBffb:active {
    background-color: #271A58;
  }
  
  .FormWrapper_modalBlock__AHz0S {
    position: absolute;
    z-index: 2;
    left: calc(50% - (366px/2));
    top: calc(50% - (439px/2));
    opacity: 1;
  }
  
  .FormWrapper_modalFormLogin__jgmrK {
    width: 366px;
    height: 439px;
    background-color: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 43px 44px 47px 40px;
  }
  
  .FormWrapper_modalFormLogin__jgmrK input:first-child {
    margin-bottom: 30px;
  }
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/signup/page.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.page_wrapper__R0KOl {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
  }
   
  .page_modalBlock__Kf9r_ {
    position: absolute;
    z-index: 2;
    left: calc(50% - (366px/2));
    top: calc(50% - (439px/2));
    opacity: 1;
  }
  
  .page_modalFormLogin__bpnE_ {
    width: 366px;
    height: 439px;
    background-color: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 43px 44px 47px 40px;
  }
  
  .page_modalFormLogin__bpnE_ input:first-child {
    margin-bottom: 30px;
  }
  
  .page_modalLogo__oK8Jf {
    width: 140px;
    height: 21px;
    margin-bottom: 34px;
    background-color: transparent;
  }
  
  .page_modalLogo__oK8Jf image {
    width: 140px;
    height: auto;
  }
  
  .page_modalInput__SQzGo {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #D0CECE;
    padding: 8px 1px;
    margin-right: 3px;
    margin-bottom: 30px;
  }
  
  .page_modalInput__SQzGo::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05px;
    color: #D0CECE;
  }

  .page_modalBtnSignupEnt__Bo0oO {
    width: 70%;
    height: 62px;
    background-color: #580EA2;
    border-radius: 6px;
    margin-left: 4px;
    border: none;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .page_modalBtnSignupEnt__Bo0oO a {
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .page_modalBtnEnter__DQwTb {
    color: #FFFFFF;
    font-size: 18px;
    width: 60%;
    height: 52px;
    background-color: #580ea2;
    border-radius: 6px;
    margin-bottom: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page_modalBtnEnter__DQwTb {
    width: 70%;
  }
  .page_modalBtnEnter__DQwTb:hover {
    background-color: #3f007d;
  }
  .page_modalBtnEnter__DQwTb:active {
    background-color: #271a58;
  }

  .page_modalBtnSignin__JrJmr {
    width: 30%;
    min-width: 60px;
    height: 52px;
    background-color: transparent;
    border: 1px solid #d0cece;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page_modalBtnSignin__JrJmr:hover {
    background-color: #f4f5f6;
  }
  .page_modalBtnSignin__JrJmr:active {
    background-color: #d9d9d9;
  }
    
  

  .page_buttonBox__xd5UB {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
