.filterButton {
    color: #fff;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
    transition: 0.2s;
  }
  .filterButton:hover {
    border-color: #AD61FF;
    color: #AD61FF;
  }
  .active {
    color:#AD61FF;
    border-color: #AD61FF;
  }

  .filterBy {
    display: block;
    position: absolute;
    top: 240px;
    left: 440px;
    background-color: #313131;
    width: 240px;
    max-height: 280px;
    overflow-y: auto;
    border-radius: 12px;
    padding: 34px;
    z-index: 6;
    box-sizing: content-box; /* ??? */
  }
  .filterBy::-webkit-scrollbar {
    width: 4px;
    margin-left: -20px; /* ??? */
  }
  .filterBy::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 10px;
  }
  .filterBy::-webkit-scrollbar-track {
    background-color: #4B4949;
  }
  .filterByP {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    list-style-type: none;
  }
  .filterByP:not(:last-child) {
    margin-bottom: 8px;
  }

  .CountPopUp {
    display: flex;
    justify-content: center;
    align-items: center;  

    position: relative;
    top: 14px;
    left: 60px;

    font-size: 14px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #AD61FF;
    color: #FFFFFF;
    transition: 1s;
  }
  
  .artist {
    top: 231px;
    left: 514px;
  }
  .year {
    top: 231px;
    left: 652px;
  }
  .genre {
    top: 231px;
    left: 744px;
  }