/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/not-found.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.not-found_container__LRagC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1920px;
    height: 1080px;
    background: rgb(24, 24, 24);
}

.not-found_containerNf__gKfxz{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
width: 431px;
height: 366px;
margin: 356px 744px;
}

.not-found_containerH1__BG2A_{
    color: rgb(255, 255, 255);
font-family: StratosSkyeng;
font-size: 160px;
font-weight: 400;
line-height: 168px;
letter-spacing: 0px;
text-align: left;
}

.not-found_containerH3__lXJLD{
    color: rgb(255, 255, 255);
font-family: StratosSkyeng;
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: left;
}
.not-found_containerLink__vZYkN {
    border-radius: 6px;

width: 278px;
height: 52px;


background: rgb(88, 14, 162);

}
.not-found_containerLink__vZYkN:hover{
    border: 1px solid #fff;
}
.not-found_containerP__YcBVd{
    color: rgb(78, 78, 78);
  font-family: StratosSkyeng;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3%;
  text-align: center;
 
  width: 431px;
  height: 48px;

  }

.not-found_containerLinkP__Lidqu {
    color: rgb(255, 255, 255);
font-family: StratosSkyeng;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.3%;
text-align: center;
padding: 12px 46px 16px 44px;
}

.not-found_containerSvg__rupLh {
    position: absolute;
width: 52px;
height: 52px;
}
